<div style="margin-top:180px">
            
            <div  class="text-center">
                    <br>
                    <mat-icon style="font-size: 40px; color:brown">museum</mat-icon>
                    <h5>Aún no hay publicaciones en esta sección</h5>
                    <h1></h1>
                    <h6 style="margin-left:10px" >Convocatoria a publicar abierta</h6>
                    <button class="btn btn-danger" (click)="this.cancel()">Volver</button>
                </div>         
            </div>
  
    <!-- <hr *ngIf="!this.loading">        -->
         
    
