<div style="margin-left:5px">
  <div class="row" style="padding: 0px; ;" >
    <div class="col-xs-12 col-sm-3 mr8" style="margin-left:10px; ">
       <div class="sombraBox" style="padding:0px; margin:0px; ">
        <a routerLink='/todos/Naturaleza'>
              <img  src="../../../assets/1.png" width="100%" >
              <!-- naturaleza -->
            </a>
            </div>

  </div>



  <div class="col-xs-12 col-sm-3 mr8" style="margin-left:6px" >
    <div class="sombraBox">
      <a routerLink='/todos/Pueblos Originarios'>
                  <img  src="../../../assets/2.png" width="100%" >
      </a>
                </div>

      </div>

      <div class="col-xs-12 col-sm-3 mr8 "style="margin-left:6px">
        <div class="sombraBox">
          <a routerLink='/todos/Historia Rural'>
                      <img  src="../../../assets/3.png" width="100%" >
                    </a>
                    </div>

          </div>

          <div class="col-xs-12 col-sm-3  mr8" style="margin-left:6px">
            <div class="sombraBox">
              <a routerLink='/todos/Historias de vida y migraciones'>
                          <img  src="../../../assets/4.jpg" width="100%" >
                        </a>
                        </div>

              </div>



              <div class="col-xs-12 col-sm-3 mt-4 mr8" style="margin-left:10px;" >
                <div class="sombraBox" style="padding:0px; margin:0px">
                  <a routerLink='/todos/Patrimonio Rural'>
                       <img  src="../../../assets/5.jpg" width="100%" >
                      </a>
                     </div>

           </div>



           <div class="col-xs-12 col-sm-3 mt-4 mr8"style="margin-left:6px">
             <div class="sombraBox">
              <a routerLink='/todos/Historia Rural'>
                           <img  src="../../../assets/3.jpg" width="100%" >
                          </a>
                         </div>

               </div>

               <div class="col-xs-12 col-sm-3 mt-4 mr8"style="margin-left:6px">
                 <div class="sombraBox">
                  <a routerLink='/todos/Historias de pueblos'>
                               <img  src="../../../assets/7.jpg" width="100%" >
                              </a>
                             </div>

                   </div>

                   <div class="col-xs-12 col-sm-3 mt-4 mr8"style="margin-left:6px">
                     <div class="sombraBox">
                      <a routerLink='/todos/Reseñas'>
                                   <img  src="../../../assets/8.jpg" width="100%" >
                                  </a>
                                 </div>

                       </div>







</div>
<br><br><br>

</div>
