<div>


  <h3 class="textSombra categoriaResposive mt-0" style="cursor: pointer">
      <span style=" color:brown">| Información</span>
  </h3>


  <div class="mt-4">
      <!-- <span class="material-icons">museum</span>
      <span class="material-icons">accessible</span>
       -->
      <div class="row" style="margin:0px; padding:0px; margin-left:-10px">
          <div class="col-12">
              <span class="material-icons quitar320" style="color:brown; float:left; font-size:35px; margin-right:7px">location_on </span>
              <h4 style="line-height: 20px;">
                  <b> Moreno N° 2277 </b>Comandante Nicanor Otamendi, Buenos Aires, Argentina

              </h4>
          </div>
          <div class="col-12">
              <span class="material-icons quitar320" style="color:brown; float:left; font-size:35px; margin-right:7px">query_builder</span>
              <h4 style="line-height: 20px"><b> El museo se encuentra actualmente cerrado al público </b><br>
              </h4>
          </div>
          <div class="col-12">
              <span class="material-icons quitar320" style="color:brown; float:left; font-size:35px; margin-right:7px">accessible</span>
              <h4 style="line-height: 20px">Instalaciones con accesibilidad para personas con movilidad reducida</h4>
          </div>
          <div class="col-12">
              <span class="material-icons quitar320" style="color:brown; float:left; font-size:35px; margin-right:7px">museum</span>
              <a href="tel:+54 9 02291 48-0198">Cel: +54 9 02291 48-0198 </a>
              <h4 style="line-height: 20px; margin-top:-1px">museodelavidarural.ga@gmail.com</h4>
          </div>
          <div class="col-12">
              <span class="material-icons quitar320" style="color:brown; float:left; font-size:35px; margin-right:7px">record_voice_over</span>
              <h4 style="line-height: 20px">Visita guiadas a
                  <b>instituciones educativas:</b> 0223-154363479</h4>
          </div>

      </div>
      <!-- <hr class="only" style="margin:0px; padding:0px; "> -->
      <br>
  </div>



</div>

