<div style="margin-top:155px;">





       <div class="row" style="margin:0px; padding:0px; margin-top:30px ">



                               <div class="col-sm-12 col-lg-6 ">
                                <h1 class="" style="font-size:44px; letter-spacing: -1px; line-height: 50px; ">Historia del Museo de la vida Rural</h1>

                                   <p class="capital" style="font-size:17px; line-height: 22px">El Museo de la vida rural de General Alvarado  <b>fué creado el 13 de agosto de 2005</b> por un grupo de vecinos del pueblo, interesados en la recuperación y conservación del patrimonio cultural y natural de Comandante Nicanor Otamendi y el partido de General Alvarado. Después de pasar por varias sedes transitorias la institución encontró su lugar definitivo en el Centro Cultural Dima Spósito de Parodi, donde funciona desde el 6 de marzo de 2015 en el marco de la Dirección de Cultura municipal.</p>

                                   <h3 class="lead" ><b> Nuestra Misión</b></h3>
                                                  <p class="text-justify" style="margin-top:-17px;font-size:17px; line-height: 22px">
                                       El MVR tiene como objetivo investigar, preservar y educar en materia patrimonio, memoria e identidad, promoviendo los valores democráticos, el respeto a la diferencia y la libertad de pensamiento, tarea que desarrolla en estrecha relación con las instituciones educativas locales de todos los niveles.
                                       </p>

                                       <h3 class="lead"><b>Colección</b></h3>
                                       <p class="text-justify " style="margin-top:-15px; font-size:17px; line-height: 22px">
                                       El museo tiene una orientación histórica y etnográfica, ocupándose tanto de lo local
                                       como en general de la forma de vida propia de las comunidades rurales del sudeste
                                       bonaerense. Su acervo se compone de objetos de la vida cotidiana, herramientas de
                                       trabajo, material arqueológico, documentos escritos y fotografías entre otros.
                                      </p>

            </div>
            <div class="col-sm-12 col-lg-5 " >
              <img class="sombra" src="../../../assets/vitrinas.jpg" alt="" width="100%">
           </div>
         </div>
         <div style="padding:20px">
         <app-informacion-museo></app-informacion-museo>
        </div>
</div>
