

  <div class="mt-1 divPrincipal"  (window:scroll)="evento($event)">


  <br>

<div  style="margin-bottom: 10px; background-color: rgb(255, 255, 255); border-top: 1px solid gainsboro;border-bottom: 1px solid gainsboro;" >


<div class="flex-container2">

      <div class="flex-container ">
          <mat-icon style="margin-top:5px; margin-left:20px">content_copy</mat-icon>
          <h2 class="categoriaString" style="color:brown">{{this.categoriaString}}</h2>
      </div>
<a (click)="this.cancel()">
      <mat-icon  style="margin-top:5px; margin-right:20px">close</mat-icon>
    </a>
</div>





</div>

<br>
<!-- <div class="flex-container3">
   <img src="../../../assets/recorteseparadoabajoizq.png" alt="" style="opacity:0.8; width: 100px; margin-top:-31px">
    <img src="../../../assets/recorteSeparador1 abajoderecha.png" alt="" style="opacity:0.8; width: 100px; margin-top:-31px">
   </div> -->
<div style="background-color:rgba(255, 255, 255, 0); margin-left:15px; margin-right: 15px; ">

  <div *ngIf="cambioPlantilla"   class="row" style="padding: 0px; padding-left: 0px; margin-right: 0px;" >

    <div *ngFor="let producto of productos.reverse() |filtro:this.categoria"   class="col-sm-12 col-md-6 col-lg-3 col-xl- 3  ajusteResposive">
      <div class="ocultar600">
      <div *ngIf='this.categoria !="Videos"'>
        <app-articulo-card [data]="producto"></app-articulo-card>
      </div>
      <div *ngIf='this.categoria ==="Videos"'>
        <app-videos-card [data]="producto"></app-videos-card>
      </div>

    </div>


  <div class="mostrar600">

    <div *ngIf='this.categoria !="Videos"'>
        <app-articulo-card-desktop [data]="producto"></app-articulo-card-desktop>
      </div>

      <div *ngIf='this.categoria ==="Videos"'>
        <app-videos-card [data]="producto"></app-videos-card>
      </div>

  </div>
   </div>



</div>

<div *ngIf="!cambioPlantilla">
  <!-- desktop -->
  <div class="ocultar600">
    <app-publi-card></app-publi-card>
</div>
<!-- desktop -->

<!-- mobile -->
<div class="mostrar600">
  <div class="row pm0" >
    <div *ngFor="let producto of productos |filtro:this.categoria"   class="pm0 col-sm-12 col-md-6 col-lg-3 col-xl-3 mostrar600" style="padding: 0px; padding-left:0px; margin-bottom:-0px">

      <app-publi-card-mobile [data]="producto" ></app-publi-card-mobile>

   </div>
  </div>
<!-- mobile -->

</div>
