
<div> 
  <img class="imgPortada" src="../../../assets/15.jpg" class=" w-100 " height="580px" style="object-fit: cover;">
<div>

<div class="card-img-overlay margenes" style="padding: 0px;" >
    <div class="superPosicion correBottom"  >
        <div class="tituloOver">
           <p class="card-text tituloEncima2 categoria">Muestra</p>
           <a routerLink='/muestra'>
           <h5 class="card-title tituloEncima fuenteTitulo">Música de Dionisia</h5>
          </a>
           <br>
            <h5 class="fuenteSubTitulo subtitulo text1" >Una invitación a compartir la “MÚSICA DE DIONISIA”</h5>
                <div class="piePortada">
                        <div>
                            <div class="textoIcon" style="margin-left:-3px">
                                <mat-icon  class="mr-corre mr-2 ml-2 fontColor">alarm</mat-icon>
                                 <div>
                                      <h3 class="subtituloResposive2 fechaStyle">24/05/2021</h3>
                                 </div>
                            </div>
                        </div>



                       <div style="margin-top:5px;">

                            <div class="textIcon2 logoMuseoseva" >
                                <mat-icon class="mr-2 fontColor">account_circle</mat-icon>
                                 <div>
                                         <h3  class="subtituloResposive2 fechaStyle">Museo de la vida Rural</h3>
                                 </div>
                            </div>
                        </div>

                        </div>





    </div>
      </div>
    </div>
